<nav class="white col s4">
  <div class="nav-wrapper container">
    <form>        
        <div class="row">
            <div class="col s3">
              <select>
                <option value="" disabled selected>Choose your option</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
            </div>
            <div class="input-field col s3">
              <label>Materialize Select</label>
              <input id="search" type="search" required>
              <label class="label-icon" placeholder="buscar" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
        </div>
    </form>
  </div>
</nav>