<div class="card darken-1">
    <div class="card-image">
        <img class="activator responsive-img" src={{product.image_ref}}>
    </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{product.name}}<i class="material-icons right">more_vert</i></span>
        <p>{{product.description}}</p>
        <p><a href="#">Ver detalle</a></p>
    </div>
    <div class="card-action">
        <a style="cursor: pointer;" class="waves-effect waves-light" (click)="addProductToCart()">Agregar</a>
        <input #quantityInput type="number" value={{quantity}} (change)="onChangeQuantity(quantityInput.value)" min="0"
            max="999" style="width: 20%;" />
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{product.name}}<i class="material-icons right">close</i></span>
        <p><i class="product-desc">Evento</i>     {{product.spectacle_name}}</p>
        <p><i class="product-desc">Hospedaje</i>  {{product.lodging_name}}</p>
        <p><i class="product-desc">Transporte</i> {{product.transport_name}}</p>
        <p><i class="product-desc">Origen</i>     {{product.source_city_name}}, {{product.source_country_name}}</p>
        <p><i class="product-desc">Destino</i>    {{product.target_city_name}}, {{product.target_country_name}}</p>
    </div>
</div>