<body>
    <div class="container">
        <h3 class="header">Pasarela de Pagos</h3>
        <div class="row">
            <div class="col s7">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Pago con Tarjeta</span>
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="XXXX XXXX XXXX XXXX" id="card_number" type="text" class="validate">
                                <label for="card_number">Número de tarjeta</label>
                            </div>
                            <div class="input-field col s3">
                                <input placeholder="MM" id="due_date_mm" type="text" class="validate">
                                <label for="due_date_mm">Mes de ven.</label>
                            </div>
                            <div class="input-field col s3">
                                <input placeholder="YYYY" id="due_date_yy" type="text" class="validate">
                                <label for="due_date_yy">Año de ven.</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s3">
                                <input id="cvv" type="text" class="validate">
                                <label for="cvv">CVC</label>
                            </div>
                            <div class="input-field col s3">
                                    <label>Cuotas</label>
                                    <input type="number" value="1" min="1" max="18"/>
                            </div>
                            <div class="input-field col s6">
                                    <input id="card_holder" type="text" class="validate">
                                    <label for="card_holder">Nombre del Titular</label>
                            </div>
                        </div>
                        <div class="row">                           
                            <div class="input-field col s6">
                                <input id="email" type="email" class="validate">
                                <label for="email">Email</label>
                            </div>
                            <div class="input-field col s6">
                                    <input id="cellphone" type="tel" class="validate">
                                    <label for="cellphone">Teléfono</label>
                                </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="#">Pagar</a>
                        <a href="#">Abandonar Pago</a>
                    </div>
                </div>
            </div>
            <div class="col s5">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Datos de la compra</span>
                        <div class="row">
                            <div class="col s6">Comercio.......................</div>
                            <div class="col s6">Toures Balon</div>
                        </div>
                        <div class="row">
                            <div class="col s6">Referencia de pago ....</div>
                            <div class="col s6">10928323</div>
                        </div>
                        <div class="row">
                            <div class="col s6">Total..............................</div>
                            <div class="col s6">COP 1.200.000</div>
                        </div>
                        <div class="row">
                            <div class="col s6">Fecha y hora ...............</div>
                            <div class="col s6">2018-11-05 17:21</div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>