<body>
    <div class="container" style="width: 450px !important; padding-top: 5%; padding-bottom: 5%;">
        <div class="row">
            <form class="col s12" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <h1 class="card-title" style="text-align: center; font-weight: bold;">Iniciar Sesión</h1> <br />
                            <h1 class="card-title" style="text-align: center; font-size: small;">Ir a TouresBalón</h1>
                            <div class="row form-group">
                                <div class="input-field col s3">
                                    <label for="username">Correo electrónico</label>
                                    <input id="username" type="email" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                                        class="validate">
                                    <div *ngIf="submitted && f.username.errors">
                                        <div *ngIf="f.username.errors.required" style="color: #ef5350;">Email requerido</div>
                                    </div>

                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="input-field col s3">
                                    <label for="password">Introduce tú contraseña</label>
                                    <input id="password" type="password" class="validate" formControlName="password"
                                        class="validate" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                    <div *ngIf="submitted && f.password.errors">
                                        <div *ngIf="f.password.errors.required" style="color: #ef5350;">Contraseña requerida</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card-action form-group" style="text-align: right">
                            <button [disabled]="loading" class="btn waves-effect waves-light" type="submit" name="action">Ingresar</button>
                            <a [routerLink]="['/register']" style="padding-left: 15px;">Registrar</a>
                            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>