<div class="search hide-on-med-and-down">

  <div class="search-left">
    <div class="search-list">
      <div class="search-facade">
        <span class="search-label" style="width: auto;">{{selectedObj.label}}</span>
        <i class="material-icons icon-arrow-search">arrow_drop_down</i>
      </div>
      <select #selectType class="search-select blue-grey darken-4" (change)="changeSelectType(selectType.value)">
        <option *ngFor="let type of listTypes" value={{type.id}} label={{type.label}}></option>
      </select>
    </div>
  </div>

  <div class="search-right">
    <a #searchIcon (click)="findProducts(search.value)" class="waves-effect waves-light btn-small orange" style="height: 35px; position: relative; display: inherit;">
      <i class="material-icons Small icon-search" >search</i>
    </a>
  </div>

  <div class="search-center">
    <div class="search-input">
      <input #search (keyup.enter)="findProducts(search.value)" type="search" class="search-field-input" autocomplete="off"
        required>
    </div>
  </div>
</div>
