
<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">      
      <div class="col s12 m4">
        <div class="card darken-1">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator responsive-img" src="./../assets/images/guayos.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Guayos Adidas<i class="material-icons right">more_vert</i></span>
            <p>I am good at containing small bits of information.</p>
            <p><a href="#">This is a link</a></p>
          </div>
          <div class="card-action">
            <a href="#">Ver</a>
            <a href="#">Agregar</a>            
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
          <div class="card darken-1">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator responsive-img" src="./../assets/images/mochila.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Mochila<i class="material-icons right">more_vert</i></span>
              <p>I am good at containing small bits of information.</p>
              <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-action">
              <a href="#">Ver</a>
              <a href="#">Agregar</a>            
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
      </div>
      <div class="col s12 m4">
          <div class="card darken-1">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator responsive-img" src="./../assets/images/guantes.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Guantes Predator<i class="material-icons right">more_vert</i></span>
              <p>I am good at containing small bits of information.</p>
              <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-action">
              <a href="#">Ver</a>
              <a href="#">Agregar</a>            
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
      </div>
    </div>
  </div>
  <br><br>
</div>

